.image-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60vw;
    height: 60vh;
    border-radius: 15px;


    
    img{
        max-height: 60vh;
        transition: 0.5s;
        border-radius: 15px;
    }
    .image-hidden{
        display: none;
        transition: 1s;
    }

}
.control{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 60vh;
    color: whitesmoke;
    opacity: 0;
    z-index: 99;
    transition: 0.5s;

    .indicators{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 25vh;
        
        background-color: rgb(75, 74, 74);
        border-radius: 50px;
        margin:10px;
        padding:5px;
        .indicator{
            all:unset;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin: 2px;

            background-color: gray;

        }
        .indicator:hover{
            background-color: rgb(245, 245, 245);
        }
        .indicator-selected{
            background-color: whitesmoke;
        }
    }
    .arrow{
        position: relative;
        top: 25vh;
    }    
}
.control:hover{
    opacity: 0.8;
    transition: 0.5s;
}